display(e)
  if e=="box"
    display box
    display:-moz-box;
    display:-webkit-box;
  else
    display e
vendor(prop, args)
  -webkit-{prop} args
  -moz-{prop} args
  {prop} args

border-radius()
  vendor('border-radius', arguments)

box-shadow()
  vendor('box-shadow', arguments)
box-orient()
  vendor('box-orient', arguments)
transform()
  vendor('transform', arguments)
transition()
  vendor('transition', arguments)
animation()
  vendor('animation',arguments)
user-select()
  vendor('user-select',arguments)

h()
  height arguments
  line-height arguments
wh()
  width arguments
  height arguments

em(v)
  return (v/16) rem