body {
  width: 20rem;
  background-color: #d0d0d0;
}
.content {
  width: 20rem;
  position: absolute !important;
  background: url("./img/bg.png") repeat-x;
  background-size: auto 100%;
  height: 100%;
  overflow: hidden;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.swiper-slide {
  width: 32.5rem;
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  position: relative;
  background: url("./img/bg.png") no-repeat;
  background-size: auto 100%;
}
.swiper-slide > img {
  width: 100%;
  position: absolute;
  bottom: 0;
}
.heimi-go {
  width: 9.5625rem;
  height: 9.5625rem;
  position: absolute;
  top: 1.875rem;
  left: 50%;
  margin-left: -4.78125rem;
  z-index: 98;
  text-align: center;
  font-size: 5.625rem;
  color: #fff;
  font-weight: bold;
}
.board {
  width: 9.5625rem;
  height: 9.5625rem;
  background: url("./img/tag_board.png") no-repeat;
  background-size: 100% auto;
  position: absolute;
  top: 1.875rem;
  left: 50%;
  margin-left: -4.78125rem;
  z-index: 98;
}
.board-hand {
  position: absolute;
  width: 9.5625rem;
  height: 9.5625rem;
  background: url("./img/tag_hand.png") no-repeat;
  background-size: 100% auto;
  z-index: 99;
  top: 0;
  left: 0;
  -webkit-transition: all 0.6s;
  -moz-transition: all 0.6s;
  transition: all 0.6s;
}
.tap-panel {
  width: 20rem;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 9999;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.tap-dot {
  width: 1.625rem;
  height: 1.625rem;
  -webkit-border-radius: 1.625rem;
  -moz-border-radius: 1.625rem;
  border-radius: 1.625rem;
  background-color: rgba(255,255,255,0.5);
  -webkit-transform: translate3d(9.2rem, 14rem, 0);
  -moz-transform: translate3d(9.2rem, 14rem, 0);
  transform: translate3d(9.2rem, 14rem, 0);
}
.tap-dot.dot-tap {
  background-color: rgba(255,255,255,0.2);
}
.trip-txt {
  position: absolute;
  top: 11.5625rem;
  text-align: center;
  color: #fff;
  width: 20rem;
  font-size: 0.8125rem;
  z-index: 99;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.cust-person {
  position: absolute;
  top: 0;
  margin-top: -2.25rem;
  right: 2.2rem;
}
.cust-person >img {
  width: 0.9375rem;
}
.game-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 20rem;
  bottom: 0;
  z-index: 100;
  text-align: center;
  padding-top: 4.0625rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.game-overtag {
  margin: auto;
  text-align: center;
  color: #f9ec22;
  font-size: 0.875rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.game-tovote {
  color: #fff;
  padding-top: 2.8125rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.game-tovote .game-tovotebtn {
  width: 7.8125rem;
  display: block;
  margin: 1.25rem auto;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.game-tovote .game-tovotebtn >img {
  width: 7.8125rem;
}
.arrow {
  width: 6rem;
  position: absolute;
  top: 0.1875rem;
  right: 0.5rem;
  z-index: 0;
}
.loadding {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(128,128,128,0.73);
  background: url("./img/bg.png") repeat-x;
  background-size: auto 100%;
}
.loadding > .load-box {
  position: absolute;
  top: 50%;
  height: 8.125rem;
  margin-top: -4.375rem;
  left: 50%;
  margin-left: -3.75rem;
  width: 7.5rem;
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  transform: scale(0.6);
}
.loadding > .load-box > .load-img {
  width: 7.5rem;
  height: 6.25rem;
  background: url("./img/load_1.png") no-repeat;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  transform: translateZ(0);
}
.loadding > .load-box > .load-img.runer {
  background: url("./img/load.png") no-repeat;
  background-size: 120.125rem auto;
  -webkit-animation: loadRun infinite step-start 1s;
  -moz-animation: loadRun infinite step-start 1s;
  animation: loadRun infinite step-start 1s;
}
.loadding > .load-box > .load-text {
  text-align: center;
  font-size: 1.875rem;
  color: #fff;
}
/*******************页面样式**************************/
.page-1-header {
  position: absolute;
  top: 0;
  left: 0;
}
.page-1-header > img {
  width: 20rem;
}
.page-1-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4.75rem;
  width: 20rem;
  z-index: 101;
}
.page-1-btns {
  text-align: center;
}
.page-1-btns > a {
  height: 2.0625rem;
  width: 6.875rem;
  margin: 0 0.3125rem;
}
.page-1-btns > a > img {
  width: 6.875rem;
}
.page-1-btmlink {
  text-align: center;
  color: #f1ff08 !important;
  font-size: 0.8125rem;
  text-decoration: underline;
  line-height: 1.6;
}
.page-18-footer {
  position: absolute;
  bottom: 6.875rem;
  width: 20rem;
  left: 0;
}
.page-18-footer > img {
  width: 20rem;
}
.page-18-footer .page-18-vote {
  position: absolute;
  left: 6.875rem;
  width: 5.625rem;
  bottom: 7.25rem;
}
.page-18-footer .page-18-vote > img {
  width: 5.625rem;
}
/***********************封面页*****************************/
.cover-page {
  width: 20rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.cover-page .cover-poster {
  width: 20rem;
}
.cover-page .cover-poster >img {
  max-width: 20rem;
}
.cover-page .cover-btns {
  position: absolute;
  width: 10rem;
  height: 5rem;
  bottom: 10rem;
  left: 1.875rem;
}
.cover-page .cover-btns >a {
  height: 2rem;
  width: 7.1875rem;
  display: block;
  margin-top: 0.625rem;
}
.cover-page .cover-btns >a >img {
  width: 7.1875rem;
}
.cover-page .cover-footer {
  position: absolute;
  bottom: 0;
  width: 20rem;
  display: box;
  display: -moz-box;
  display: -webkit-box;
  padding-bottom: 1.5625rem;
}
.cover-page .cover-footer >div {
  width: 10rem;
  text-align: center;
  color: #474831 !important;
}
.cover-page .cover-footer >div >a {
  text-decoration: underline;
}
/********************************自行车*******************************************/
.bike-layer {
  z-index: 100;
}
.bike,
.bike2 {
  width: 7.375rem;
  height: 6.25rem;
  background-image: url("./img/bike1.png");
  background-repeat: no-repeat;
  background-size: 127.3125rem 6.25rem;
  position: absolute;
  bottom: 3.4375rem;
  left: 50%;
  margin-left: -3.28125rem;
  background-position: 0.5rem 0;
}
.bike2 {
  background-image: url("./img/bike2.png") !important;
  bottom: 4.125rem;
  margin-left: -5.625rem;
  z-index: 6;
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  transform: scale(0.9);
}
/****************投票页面**********************/
#_vote .vote-title {
  width: 20rem;
  text-align: center;
  padding-top: 1.125rem;
}
#_vote .vote-title > img {
  width: 11.5625rem;
}
#_vote .vote-itemul {
  margin-top: 0.9375rem;
}
#_vote .vote-itemul > li {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  width: 20rem;
  padding: 0.9375rem 0.9375rem 0.625rem 1.5625rem;
}
#_vote .vote-item {
  width: 50%;
  color: #f7d33e;
  font-size: 0.8125rem;
}
#_vote .vote-check {
  display: inline-block;
  width: 0.8125rem;
  height: 0.8125rem;
  -webkit-border-radius: 0.8125rem;
  -moz-border-radius: 0.8125rem;
  border-radius: 0.8125rem;
  border: solid 0.125rem #f7d33e;
  background-color: #fff;
  margin-right: 0.3125rem;
}
#_vote .vote-check.checked {
  border: solid 0.125rem #fff;
  background-color: #f7d33e;
}
#_vote .vote-info {
  padding: 0.375rem 0.375rem;
}
#_vote .vote-info > p {
  margin-top: 0.625rem;
}
#_vote .vote-info > p > input {
  width: 19.25rem;
  border: solid 0.125rem #f7d33e;
  height: 2.1875rem;
  text-align: center;
  font-size: 1rem;
  background-color: #f0f0f0;
}
#_vote .vote-btns {
  display: block;
  margin: 0.9375rem auto;
  width: 8.625rem;
}
#_vote .vote-btns > img {
  width: 8.625rem;
}
#_vote .vote-footer {
  position: absolute;
  bottom: 0;
  width: 20rem;
  left: 0;
}
#_vote .vote-dialog {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 99;
  padding-top: 8.125rem;
  text-align: center;
}
#_vote .vote-dialog > img {
  width: 13.125rem;
}
#_vote .vote-dialog > a {
  width: 8.625rem;
  display: block;
  margin: 1.875rem auto 0 auto;
}
#_vote .vote-dialog > a > img {
  width: 8.625rem;
}
/*********************排行榜**************************/
#_rank .rank-title {
  width: 20rem;
  text-align: center;
  padding-top: 0.9375rem;
}
#_rank .rank-title > img {
  width: 11.5625rem;
}
#_rank .rank-itemul {
  padding: 0 0.9375rem;
  width: 20rem;
  margin-top: 0.625rem;
}
#_rank .rank-itemul > li {
  display: box;
  display: -moz-box;
  display: -webkit-box;
  width: 18.125rem;
  margin-top: 0.3125rem;
  background-color: #f7d33e;
  height: 2.1875rem;
}
#_rank .rank-order {
  width: 2.1875rem;
  line-height: 2.1875rem;
  text-align: center;
  background-color: #fff;
  font-size: 1.4375rem;
  font-weight: bold;
}
#_rank .rank-name {
  width: 8.125rem;
  line-height: 2.1875rem;
  font-size: 0.875rem;
  padding-left: 0.9375rem;
}
#_rank .rank-val {
  width: 7.8125rem;
  text-align: right;
  font-size: 0.8125rem;
  padding: 0.25rem 0.3125rem;
}
#_rank .rank-val > p {
  line-height: 1.1;
}
#_rank .rank-footer {
  position: absolute;
  bottom: 0;
  width: 20rem;
  left: 0;
}
@-moz-keyframes loadRun {
  0% {
    background-position: 0.2rem 0;
  }
  7.14% {
    background-position: -7.925rem 0;
  }
  14.29% {
    background-position: -16.05rem 0;
  }
  21.43% {
    background-position: -24.175rem 0;
  }
  28.57% {
    background-position: -32.3rem 0;
  }
  35.71% {
    background-position: -40.425rem 0;
  }
  42.86% {
    background-position: -48.55rem 0;
  }
  50.00% {
    background-position: -56.675rem 0;
  }
  57.14% {
    background-position: -64.8rem 0;
  }
  64.29% {
    background-position: -72.925rem 0;
  }
  71.43% {
    background-position: -81.05rem 0;
  }
  78.57% {
    background-position: -89.335rem 0;
  }
  85.71% {
    background-position: -97.63rem 0;
  }
  92.86% {
    background-position: -105.75rem 0;
  }
  98.66% {
    background-position: -113.95rem 0;
  }
  100% {
    background-position: 0.2rem 0;
  }
}
@-webkit-keyframes loadRun {
  0% {
    background-position: 0.2rem 0;
  }
  7.14% {
    background-position: -7.925rem 0;
  }
  14.29% {
    background-position: -16.05rem 0;
  }
  21.43% {
    background-position: -24.175rem 0;
  }
  28.57% {
    background-position: -32.3rem 0;
  }
  35.71% {
    background-position: -40.425rem 0;
  }
  42.86% {
    background-position: -48.55rem 0;
  }
  50.00% {
    background-position: -56.675rem 0;
  }
  57.14% {
    background-position: -64.8rem 0;
  }
  64.29% {
    background-position: -72.925rem 0;
  }
  71.43% {
    background-position: -81.05rem 0;
  }
  78.57% {
    background-position: -89.335rem 0;
  }
  85.71% {
    background-position: -97.63rem 0;
  }
  92.86% {
    background-position: -105.75rem 0;
  }
  98.66% {
    background-position: -113.95rem 0;
  }
  100% {
    background-position: 0.2rem 0;
  }
}
@-o-keyframes loadRun {
  0% {
    background-position: 0.2rem 0;
  }
  7.14% {
    background-position: -7.925rem 0;
  }
  14.29% {
    background-position: -16.05rem 0;
  }
  21.43% {
    background-position: -24.175rem 0;
  }
  28.57% {
    background-position: -32.3rem 0;
  }
  35.71% {
    background-position: -40.425rem 0;
  }
  42.86% {
    background-position: -48.55rem 0;
  }
  50.00% {
    background-position: -56.675rem 0;
  }
  57.14% {
    background-position: -64.8rem 0;
  }
  64.29% {
    background-position: -72.925rem 0;
  }
  71.43% {
    background-position: -81.05rem 0;
  }
  78.57% {
    background-position: -89.335rem 0;
  }
  85.71% {
    background-position: -97.63rem 0;
  }
  92.86% {
    background-position: -105.75rem 0;
  }
  98.66% {
    background-position: -113.95rem 0;
  }
  100% {
    background-position: 0.2rem 0;
  }
}
@keyframes loadRun {
  0% {
    background-position: 0.2rem 0;
  }
  7.14% {
    background-position: -7.925rem 0;
  }
  14.29% {
    background-position: -16.05rem 0;
  }
  21.43% {
    background-position: -24.175rem 0;
  }
  28.57% {
    background-position: -32.3rem 0;
  }
  35.71% {
    background-position: -40.425rem 0;
  }
  42.86% {
    background-position: -48.55rem 0;
  }
  50.00% {
    background-position: -56.675rem 0;
  }
  57.14% {
    background-position: -64.8rem 0;
  }
  64.29% {
    background-position: -72.925rem 0;
  }
  71.43% {
    background-position: -81.05rem 0;
  }
  78.57% {
    background-position: -89.335rem 0;
  }
  85.71% {
    background-position: -97.63rem 0;
  }
  92.86% {
    background-position: -105.75rem 0;
  }
  98.66% {
    background-position: -113.95rem 0;
  }
  100% {
    background-position: 0.2rem 0;
  }
}
@-moz-keyframes yunrun {
  0% {
    -webkit-transform: translateX(5.5rem);
    -moz-transform: translateX(5.5rem);
    transform: translateX(5.5rem);
  }
  50% {
    -webkit-transform: translateX(0) scale(0.85);
    -moz-transform: translateX(0) scale(0.85);
    transform: translateX(0) scale(0.85);
  }
  100% {
    -webkit-transform: translateX(5.5rem);
    -moz-transform: translateX(5.5rem);
    transform: translateX(5.5rem);
  }
}
@-webkit-keyframes yunrun {
  0% {
    -webkit-transform: translateX(5.5rem);
    -moz-transform: translateX(5.5rem);
    transform: translateX(5.5rem);
  }
  50% {
    -webkit-transform: translateX(0) scale(0.85);
    -moz-transform: translateX(0) scale(0.85);
    transform: translateX(0) scale(0.85);
  }
  100% {
    -webkit-transform: translateX(5.5rem);
    -moz-transform: translateX(5.5rem);
    transform: translateX(5.5rem);
  }
}
@-o-keyframes yunrun {
  0% {
    -webkit-transform: translateX(5.5rem);
    -moz-transform: translateX(5.5rem);
    transform: translateX(5.5rem);
  }
  50% {
    -webkit-transform: translateX(0) scale(0.85);
    -moz-transform: translateX(0) scale(0.85);
    transform: translateX(0) scale(0.85);
  }
  100% {
    -webkit-transform: translateX(5.5rem);
    -moz-transform: translateX(5.5rem);
    transform: translateX(5.5rem);
  }
}
@keyframes yunrun {
  0% {
    -webkit-transform: translateX(5.5rem);
    -moz-transform: translateX(5.5rem);
    transform: translateX(5.5rem);
  }
  50% {
    -webkit-transform: translateX(0) scale(0.85);
    -moz-transform: translateX(0) scale(0.85);
    transform: translateX(0) scale(0.85);
  }
  100% {
    -webkit-transform: translateX(5.5rem);
    -moz-transform: translateX(5.5rem);
    transform: translateX(5.5rem);
  }
}
